# LOCAL DEV INSTRUCTIONS: pip install -r requirements.txt
# NOTE: Not all used, for introduction purposes

ruff == 0.5.7
pathlib == 1.0.1
opencv-python == 4.10.0.84
matplotlib == 3.8.3
pandas == 2.2.2
pytest == 8.2.2
xacro == 1.13.3
